<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelar</title>

    <!-- Agregar enlaces a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- ICONO -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="col-md-8 card text-center mx-auto p-0">
            <div class="card-header bg-danger text-white">
                <h1>Llamada Cancelada!</h1>
            </div>
            <div class="container mt-5 text-center font-weight-bold">
                <p>La llamada ha sido cancelada ❌</p>
                <br>
            </div>
        
            <div class="card-footer">
                <a href="/" class="btn btn-primary">Volver a la página principal</a>
            </div>
        </div>
    </div>
</body>
</html>
